.GroupField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: 885px) {
    flex-direction: row;
    margin-bottom: 40px;
  }

    &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
  }



  &.invalid {
    /* & .SingleDatePickerInput {
      &::after {
        position: absolute;
        top: 8px;
        right: -9px;
        width: 18px;
        height: 18px;
        background: url('/static/images/error.svg') no-repeat center;
        content: "";
      }

      border-bottom-color: var(--red);
    } */
  }

  &.center {
    justify-content: center;
  }


}
