.StyledParagraph {
  & .uppercase {
    text-transform: uppercase;
  }
  &.alignCenter {
    text-align: center;
  }
  &.flexRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &.stepPlan {
    max-width: 475px;
    margin: 20px auto;
  }
}
