.StepBreakdown {
  & .Title {
    margin-bottom: 20px;

    @media ( max-width: 480px ) {
      margin-bottom: 10px;
    }

    @media ( max-width: 320px ) {
      font-size: 14px;
    }
  }

  & .description {
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
  }

  & .slider-section {
    max-width: 22rem;
    margin: 0 auto 50px;
  }

  & .slider-texts {
    display: flex;
    margin: 2rem 0;
  }

  & .slider-text {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1rem;

    & strong {
      font-weight: inherit;
      font-size: 1.3em;
    }
  }

  & .plan-text {
    @media ( min-width: 480px ) {
      font-size: 12px;
      line-height: 24px;
    }
    font-size: 9px;
    line-height: 16px;
    letter-spacing: 0.1em;
    font-weight: lighter;
  }

  & .info-text {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
  }

  & .GroupField {
    margin: 16px auto;
  }

  & .desktop-lg {
    margin-top: 16px;
  }

  & .faq-section {
    & .faq-title {
      margin: 24px auto 8px;
      font-size: 16px;
    }

    & .question-container {
      border: 1px solid #f5f5f5;
      padding: 8px;
      margin-bottom: -1px;
      cursor: pointer;

      & .question-title {
        display: flex;
        justify-content: space-between;

        & .question-icon {
          background: url('/static/images/arrow-down.svg') no-repeat center center;
          width: 20px;

          &.rotated {
            transform: rotate(180deg);
            transition: all .3s ease-in;
          }
        }
      }

      & .info-text {
        text-align: left;
        display: none;

        & span {
          text-decoration: line-through;
        }
      }

      & .show-text {
        display: block;
      }
    }
  }
}

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: calc(100% - 50px);
  margin: 0 auto;
  border-radius: 6px;
  -ms-touch-action: none;
      touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;

  @media (max-width: 480px) {
    width: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
  }
}
.rc-slider-track {
  position: absolute;
  height: 4px;
  border-radius: 6px;
  background-color: #302f31;
  opacity: .75;

  @media (max-width: 480px) {
    left: -25px !important;
    padding-right: 5px;
    box-sizing: content-box;
  }
}
.rc-slider-handle {
  position: absolute;
  margin-left: -15px;
  margin-top: -13px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  background-color: #302f31;
  -ms-touch-action: pan-x;
      touch-action: pan-x;

  @media ( max-width: 480px ) {
    margin-left: -25px;
    margin-top: -24px;
    width: 50px;
    height: 50px;
  }

  &:before,
  &:after {
    content: url('/static/images/arrow-down-white.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
  }

  &:before {
    left: calc(50% - 4px);
    transform: translate(-50%, -50%) rotate(-90deg);

    @media ( max-width: 480px ) {
      left: calc(50% - 2px);
    }
  }

  &:after {
    left: calc(50% + 4px);
    transform: translate(-50%, -50%) rotate(90deg);

    @media ( max-width: 480px ) {
      left: calc(50% + 2px);
    }
  }
}
.rc-slider-handle:focus {
  box-shadow: 0 0 0 5px #302f317e;
  outline: none;
}
.rc-slider-handle-click-focused:focus {
  border-color: #302f317e;
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border-color: #302f317e;
}
.rc-slider-handle:active {
  border-color: #302f317e;
  box-shadow: 0 0 5px #302f317e;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: .3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip-hidden {
  display: none;
}
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}
