.Faq {
  & .plan-text {
    font-size: 13px;
    line-height: 16px;
    font-weight: lighter;

    @media ( min-width: 480px ) {
      font-size: 12px;
      line-height: 24px;
    }

    @media ( min-width: 768px ) {
      letter-spacing: 0.05em;
    }

    @media ( max-width: 768px ) {
      font-weight: 400;
    }
  }

  & .info-text {
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    line-height: 22px;
    margin: 6px 24px 6px 6px;
  }

  & .faq-section {
    @media ( min-width: 768px ) {
      margin: 0 3rem;
    }

    & .faq-title {
      margin: 24px auto 8px;
      font-size: 16px;
    }

    & .question-container {
      border: 1px solid #f5f5f5;
      padding: 8px;
      margin-bottom: -1px;
      cursor: pointer;
        
      @media ( max-width: 768px ) {
        border-left: none;
        border-right: none;
      }

      &:first-child {
        @media ( max-width: 768px ) {
          border-top: none;
        }
      }

      &:last-child {
        @media ( max-width: 768px ) {
          border-bottom: none;
        }
      }

      & .question-title {
        display: flex;
        justify-content: space-between;
        
        @media ( min-width: 768px ) {
          text-transform: uppercase;
        }
        
        @media ( max-width: 768px ) {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        & .question-icon {
          background: url('/static/images/arrow-down.svg') no-repeat center center;
          width: 20px;

          &.rotated {
            transform: rotate(180deg);
            transition: all .3s ease-in;
          }
        }
      }

      & .info-text {
        text-align: left;
        display: none;

        & span {
          text-decoration: line-through;
        }
      }

      & .show-text {
        display: block;
      }
    }
  }
}
