
.BillingForm {
    
  & .TextField + .TextField {
    @media (min-width: 885px) {
      margin-top: 0 !important;
    }
  }

  & .GroupField{
    margin-bottom: 20px;
  }
  
  & .Title{
        margin-top: 15px;

        @media (min-width: 885px) {
          text-align: left;
          margin-bottom: 15px;
        }
    }
    
    & .TextField:first-child {
        flex-grow: initial !important;
    }

    & .dropdown-wrapper {
        & select{
            background: url(/static/images/dropdown-arrow.svg) no-repeat calc(100% - 6px);
        }
    }



    & .Dropdown-root.invalid::after {
        content: "";
        position: absolute;
        height: 100%;
        left: 0;
        width: 4px;
        background-color: #FFA38B;
    }

    & .cols-2{
        flex-direction: row;
        justify-content: space-between;
        & .TextField {
          width: calc(50% - 16px);
          margin-top: 0;
        }
      }
    
      & .cols-3{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
        & .TextField, & .Dropdown-root  {
          width: calc(33.333% - 16px);
          margin-top: 0;
          flex-grow: unset;
          height: 40px;
        }
      }
    
      & .cols-2-3{
        flex-direction: row;
        justify-content: space-between;
    
        & .TextField:nth-of-type(1) {
          width: calc(66.666% - 8px);
          margin-top: 0;
        }
    
        & .TextField:nth-of-type(2) {
          width: calc(33.33% - 16px);
          margin-top: 0;
        }
      }
      
}