@import '../../variables';

.Title {
  width: 100%;
  margin: 0 auto 20px;
  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  color: #3D3935;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700l;
  text-align: center;

  @media (min-width: 885px) {
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0 auto 45px;
    margin-top: -30px;
  }

}

body.with-errors{
  @media (min-width: 885px) {
    & .Step-2,
    & .Step-3,
    & .Step-4,
    & .Step-5,
    & .Step-6,
    & .Step-retryCreditCard{
      & .Title{
        margin-top: 20px;
      }
    }
    & .Step-1 {
      & .Title{
        margin-top: 20px;
      }
    }
  }
}
