@import "../../variables";

.OrderItem {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 12px;
  color: var(--dark-grey);
  line-height: 22px;
  letter-spacing: 1px;

  &.couponStyle{
    font-weight: bold;
    color: #FFA38B;
    & .name{
      margin-left: -11px;
    }
  }
  &.hideIcon{
    padding-left: 23px;
  }
  & + .OrderItem {
    margin-top: 10px;
  }

  &.strokeThrough{
    text-decoration: line-through;
  }

  & .left {
    flex-grow: 0;
    width: 60px;
    @media (min-width: 885px) {
      width: 40px;
    }
    & .counter {
      border: 0;
      background-color: transparent;
      font-family: inherit;
      font-size: 12px;
      line-height: 12px;
      cursor: pointer;
      padding-left: 0;
      margin-top: 1px;
      &.minus {
        color: var(--red);
      }

      &.plus {
        color: var(--green);
      }

    }

    & .quantity {
      top: 0;
      font-weight: bold;
      position: absolute;
      left: 50px;
      @media (min-width: 885px) {
        left: 38px;
      }
    }

  }

  & .center {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    margin: 0 10px;
    flex-grow: 100;
    margin-left: 16px;

    & .description {
      font-family: var(--font-avenir-m);
      font-size: 12px;
      color: var(--light-grey);
      line-height: 16px;
    }

  }


  & .right {

    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    @media (min-width: 885px) {
      width: auto;
      flex-wrap: no-wrap;
    }

    & .previousPrice {
      text-decoration: line-through;
      color: var(--light-grey);
      margin-right: 10px;
      @media (min-width: 885px) {
        margin-right: 20px;
      }
    }
  }

  & .detailsMobile{
    display: block;
    color: var(--green);
    margin-top: 5px;
    @media (min-width: 885px) {
      display: none;
    }
  }

  & .detailsDesktop{
    margin-left: 10px;
    color: var(--green);
    display: none;
    @media (min-width: 885px) {
      display: inline;
    }
  }

}
