.SocialLinks {
  width: 80px;
  display: flex;
  justify-content: space-between;

  & .link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    & + .link {
      margin-left: 20px;
    }

  }

}
