.box{
	
	width: 180px;
	height: 270px;
	box-shadow: 0px 0px 20px -4px var(--grey);

	& p{
		font-family: 'SofiaProMedium';
		font-size: 12px;
		padding: 10px 12px;
		color: var(--grey);
		text-align: center;
	}

	& img{

	}

}
