@import "../../variables";

.StepAllergies {

  & .separator {
    width: 200px;
    height: 1px;
    margin: 30px auto 45px;
    background-color: var(--soft-grey);
    border: 0;
  }

  & .subtitle {
    width: 100%;
    margin: 0 auto 25px;
    font-family: SofiaProBold;
    font-weight: 700;
    font-size: 20px;
    color: #FF644D;
    letter-spacing: 0.69px;
    text-align: center;
    display: block;
  }

  & .italic{
    font-family: 'SofiaProRegularItalic';
  }

}
