@import "../../variables";

.LoadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: color(white alpha(75%));
  transition: opacity .4s;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  & .dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: var(--green);
    border-radius: 100%;
    animation: 1s linear blink infinite;

    &:nth-child(2) {
      animation-delay: .3333s;
    }

    &:nth-child(3) {
      animation-delay: .6666s;
    }

  }

}

@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}
