.Alert {
  position: relative;
  width: 100%;
  min-height: 32px;
  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  color: #fff;
  padding: 8px 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;

  &.success,
  &.error {
    @media (min-width: 885px) {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      font-weight: 600;
      display: block;
      text-align: center;
      min-height: 40px;
      padding-top: 11px;
    }
  }

  &.success {
    background-color: #71CC98;
    &:before {
      background: url('/static/images/check-white.svg') no-repeat center;
    }
  }

  &.error {
    background-color: #F9C4D4;
    color: #302f31;
    &:before {
      background: url('/static/images/error-white.svg') no-repeat center;
    }
  }
}