.StepProductPlan {
  & .Title {
    @media ( max-width: 320px ) {
      font-size: 14px;
    }
  }

  & .plan-text {
    @media ( min-width: 480px ) {
      font-size: 12px;
      line-height: 24px;
    }
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: lighter;
  }

  & .info-text {
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    line-height: 22px;
    margin: 6px 24px 6px 6px;
  }

  &. price-text {
    font-size: 20px;
  }

  & .shipping-text {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
  }

  & .meal-detail {
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    font-weight: bold;
  }

  & .GroupField {
    margin: 16px auto;
  }

  & .selectors {
    font-size: 16px;
    text-align: center;

    & .selector-text {
      margin-left: 8px;
    }

    & .middle-text {
      font-weight: lighter;
    }
  }

  & .desktop-lg {
    margin-top: 16px;
  }
}
