
.add-tiny-human{
    font-size: 9px;
    text-align: left;
    font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 700;

    @media (min-width: 885px) {
        text-align: center;
        font-size: 12px;
        color: #302f31;
    }

    & span{
        color: #302f31;
        margin-right: 10px;
        font-size: 15px;
    }
}   