@import "../../variables";

.TinyHumansItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  &:hover .row.canDeleteChild {
    
    & .line {
      display: none;
    }
    
    & .delete {
      display: block;
    }

  }

  &.active .row .name {
    color: var(--light-grey);
  }

  & .row {
    display: flex;
    align-items: center;
    width: 100%;

    & .line {
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: middle;
    }

    & .delete {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      display: none;
      width: 15px;
      height: 15px;
      border: 0;
      background: none;
      transition: transform .3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.4);
      }

    }

    & .name {
      flex: 1 0;
      margin-left: 10px;
      font-family: var(--font-main-b);
      font-weight: 400;
      font-size: 18px;
      color: var(--green);
      letter-spacing: 0.28px;
      cursor: default;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

}
