@import "../../variables";

.Signup {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;


  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 500;
  font-size: 20px;
  background: #ffffff;
  min-height: 630px;

  @media (min-width: 855px) {
    padding-top: 70px;
    box-shadow: 0px 0px 20px -4px var(--grey);
    width: 800px;
    &.Step-1,
    &.Step-2,
    &.Step-3,
    &.Step-4,
    &.Step-5,
    &.Step-6,
    &.Step-billingError,
    &.Step-retryCreditCard,
    &.Step-billingError{
      padding-top: 0px;
      margin-top: 50px;
    }
  }

  &.Step-retryCreditCard {
    @media (min-width: 885px) {
      & .ProgressBar {
        position: absolute;
        left: 0;
      }

      & .Alert {
        position: relative;
      }
    }
  }

  &.ccChange {
    padding-top: 0;

    & .ProgressBar {
      display: none;
    }

    & .Title {
      margin-top: 40px;
    }

    & .StepBilling {
      padding-top: 20px;
    }

  }

}
