@import 'variables';
@import './components/**/*.css';
@import 'react-dates/lib/css/_datepicker.css';

@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/fontawesome-webfont.eot');
  src: url('/static/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('/static/fonts/fontawesome-webfont.woff') format('woff'),
       url('/static/fonts/fontawesome-webfont.ttf')  format('truetype'),
       url('/static/fonts/fontawesome-webfont.svg#svgFontName') format('svg');
}


@font-face {
  font-family: 'Nutmeg-Bold';
  src:  url('/static/fonts/358F50_0_0.eot');
  src:  url('/static/fonts/358F50_0_0.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/358F50_0_0.woff2') format('woff2'),
        url('/static/fonts/358F50_0_0.woff') format('woff'),
        url('/static/fonts/358F50_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Nutmeg-Book';
  src:  url('/static/fonts/358F50_1_0.eot');
  src:  url('/static/fonts/358F50_1_0.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/358F50_1_0.woff2') format('woff2'),
        url('/static/fonts/358F50_1_0.woff') format('woff'),
        url('/static/fonts/358F50_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src:  url('/static/fonts/Avenir-Medium.eot');
  src:  url('/static/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Avenir-Medium.woff2') format('woff2'),
        url('/static/fonts/Avenir-Medium.woff') format('woff'),
        url('/static/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaProRegularItalic';
  src: url('/static/fonts/sofia_pro_regular_italic-webfont.eot');
  src: url('/static/fonts/sofia_pro_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sofia_pro_regular_italic-webfont.woff2') format('woff2'),
       url('/static/fonts/sofia_pro_regular_italic-webfont.woff') format('woff'),
       url('/static/fonts/sofia_pro_regular_italic-webfont.ttf') format('truetype'),
       url('/static/fonts/sofia_pro_regular_italic-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SofiaProBold';
  src: url('/static/fonts/sofia_pro_bold-webfont.eot');
  src: url('/static/fonts/sofia_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sofia_pro_bold-webfont.woff2') format('woff2'),
       url('/static/fonts/sofia_pro_bold-webfont.woff') format('woff'),
       url('/static/fonts/sofia_pro_bold-webfont.ttf') format('truetype'),
       url('/static/fonts/sofia_pro_bold-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SofiaProLight';
  src: url('/static/fonts/sofia_pro_light.eot');
  src: url('/static/fonts/sofia_pro_light.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sofia_pro_light.woff2') format('woff2'),
       url('/static/fonts/sofia_pro_light.woff') format('woff'),
       url('/static/fonts/sofia_pro_light.ttf') format('truetype'),
       url('/static/fonts/sofia_pro_light.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SofiaProMedium';
  src: url('/static/fonts/sofia-pro-medium.eot');
  src: url('/static/fonts/sofia-pro-medium.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sofia-pro-medium.woff2') format('woff2'),
       url('/static/fonts/sofia-pro-medium.woff') format('woff'),
       url('/static/fonts/sofia-pro-medium.ttf') format('truetype'),
       url('/static/fonts/sofia-pro-medium.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'SofiaProRegular';
  src: url('/static/fonts/sofia_pro_regular-webfont.eot');
  src: url('/static/fonts/sofia_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/sofia_pro_regular-webfont.woff2') format('woff2'),
       url('/static/fonts/sofia_pro_regular-webfont.woff') format('woff'),
       url('/static/fonts/sofia_pro_regular-webfont.ttf') format('truetype'),
       url('/static/fonts/sofia_pro_regular-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'DinNarrowDemi';
  src: url('/static/fonts/DIN2014-NarrowDemi.eot');
  src: url('/static/fonts/DIN2014-NarrowDemi.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/DIN2014-NarrowDemi.woff2') format('woff2'),
       url('/static/fonts/DIN2014-NarrowDemi.woff') format('woff'),
       url('/static/fonts/DIN2014-NarrowDemi.ttf') format('truetype'),
       url('/static/fonts/DIN2014-NarrowDemi.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Gotham';
  src: url('/static/fonts/Gotham-Book.eot');
  src: url('/static/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/Gotham-Book.woff') format('woff'),
       url('/static/fonts/Gotham-Book.ttf') format('truetype'),
       url('/static/fonts/Gotham-Book.svg#svgFontName') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham';
  src: url('/static/fonts/Gotham-Medium.eot');
  src: url('/static/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/Gotham-Medium.woff') format('woff'),
       url('/static/fonts/Gotham-Medium.ttf') format('truetype'),
       url('/static/fonts/Gotham-Medium.svg#svgFontName') format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham';
  src: url('/static/fonts/Gotham-Bold.eot');
  src: url('/static/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/Gotham-Bold.woff') format('woff'),
       url('/static/fonts/Gotham-Bold.ttf') format('truetype'),
       url('/static/fonts/Gotham-Bold.svg#svgFontName') format('svg');
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
  padding: 0;
  margin: 0;
  @media (min-width: 885px){
    background: #f2f2f2;
  }
}

a{
  color: #4298B5;
  text-decoration: none;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

button:focus, input:focus {
  outline: 0;
}

.Signup {

  & h3 {
    font-size: 14px;
    color: var(--dark-grey);
    margin: 20px auto;
  }

  & .zipcode {

    @media (min-width: 885px) {
      margin-right: 120px;
    }

  }

}

.SingleDatePicker {
  display: flex;
  min-width: 220px;
  width: 100%;
  height: 38px;
  position: relative;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.69px;

  @media (min-width: 885px) {
    width: 100%;
  }

  & > div {
    width: 100%;
  }

}

.SingleDatePicker__picker {
  left: -35px !important;
  top: 55px;
}

.DateInput.DateInput--with-caret::before {
  top: 45px;
}

.DateInput.DateInput--with-caret::after {
  top: 46px;
}

.separator {
  border: 0;
  border-top: 1px solid #ccc;
}

.SingleDatePickerInput {
  border: 0;
  border-bottom: solid 2px var(--soft-grey);

  & .DateInput {
    width: 100%;
    padding: 0;

    &__input {
      padding: 0;
    }

    &__display-text {
      width: 100%;
      padding: 7px 0;
      color: var(--soft-grey);
      font-size: 20px;

      &--focused {
        background-color: white;
        border-radius: 0;
      }

      &--has-input {
        color: black;
      }

    }

  }

}

.CalendarMonth--horizontal .CalendarMonth__caption,
.CalendarMonth--vertical .CalendarMonth__caption {
    padding: 15px 0 40px;
}

.CalendarDay__button {
  font-size: 14px;
}

.CalendarDay.CalendarDay--selected {
  background-color: var(--green);
  border-color: var(--green);
}


.async-hide {
  opacity: 0 !important
}
