:root {

  --max-width: 885px;

  --genericDark: #00203d;
  --headerHeight: 65px;
  
  --dark-blue: #152f55;
  --cta-main: #00a4df;
  --red:#FF644D;
  
  --tablet: "(min-width: 1024px)";
  --soft-grey: #E6E6E6;
  --grey: #c2c2c2;
  --dark-grey: #646464;
  --light-grey: #A0A0A0;
  --white: #fff;
  --green: #00664F;
  --green-light: #71CC98;
  --black-rr: #302F31;
  --font-main-black: 'SofiaProBlack', 'Helvetica', sans-serif;
  --font-main-b: 'SofiaProBold', 'Helvetica', sans-serif;
  --font-main-l: 'SofiaProLight', 'Helvetica', sans-serif;
  --font-main-m: 'SofiaProMedium', 'Helvetica', sans-serif;
  --font-main-mi: 'SofiaProMediumItalic', 'Helvetica', sans-serif;
  --font-main-m: 'SofiaProMedium', 'Helvetica', sans-serif;
  --font-main-i: 'SofiaProRegularItalic', 'Helvetica', sans-serif;
  --font-main: 'SofiaProRegular', 'Helvetica', sans-serif;
  --font-main-sb: 'SofiaProSemiBold', 'Helvetica', sans-serif;
  --font-awesome: 'FontAwesome';
  --font-avenir-m: 'Avenir';
  

}
