.dropdown-wrapper{


  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 38px;
  position: relative;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.69px;
  width: 100%;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  
  &.invalidDropdown:after{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    width: 4px;
    background-color: #F9C4D4;
  }

  & .Dropdown-placeholder{
    color: #dcdcdc;
  }

  &.hasValue{
    & select,
    & .Dropdown-placeholder{
      color: #000;
    }  
    
  }

  & .Dropdown-arrow {
    border-color: #dcdcdc transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 0;
    top: 14px;
    width: 0
  }
  
  & .is-open .Dropdown-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }
 

  & .Dropdown-control {
    width: 100%;
    padding: 0 0 10px;
    border: 0;
    border: solid 1px #E6E6E6;
    font-family: inherit;
    font-size: inherit;
  }

  & .Dropdown-option {
    box-sizing: border-box;
    color: #D5D5D5;
    cursor: pointer;
    display: block;
    margin-bottom: 2px;

    &:hover{
      color: #000000;
    }

  }

  & .Dropdown-control {
    display: none;
    /* @media (min-width: 768px){
        display: flex;
    } */
  }

  & .Dropdown-menu{
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: white;
    max-height: 185px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 15px;
    color: #D5D5D5;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #E6E6E6;
    height: 172px;
  }


  & select{
    background: white;
    border: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 8px;
    color: #A0A0A0;
    font-size: 12px;
    font-family: 'avenir';
    border: solid 1px #dadada;
    border-radius: 0;
    font-weight: normal;
    background: url(/static/images/dropdown-arrow.svg) no-repeat calc(100% - 10px);
    outline: none;

    /* @media (min-width: 768px){
        display: none;
    } */
  }

  @media (min-width: 885px) {
    margin: 0;
    margin: 0 20px;
    width: 212px;
  }

  
}


 
.Dropdown-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.Dropdown-menu::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

  

