.AllergyPromise {

  & .subtitle {
    display: block;
    font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #302f31;
    width: 100%;
    margin: 20px auto;
    text-align: center;

    @media (min-width: 885px) {
      color: #302f31;
      font-size: 12px;
    }
  }

  & .icons {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  max-width: 160px;
  min-height: 50px;

  @media (min-width: 885px) {
    max-width: 230px;
  }


   & .gluten,
   & .soy,
   & .dairy  {
     width: 48px;
     height: 44px;

     @media (min-width: 885px) {
       width: 52px;
       height: 56px
     }
   }

    & .gluten {
      background: url('/static/images/gluten.svg') no-repeat center;
      background-size: contain;
    }

    & .soy {
      background: url('/static/images/soy.svg') no-repeat center;
      background-size: contain;
    }

    & .dairy {
      background: url('/static/images/dairy.svg') no-repeat center;
      background-size: contain;
    }

  }
}