.StepShipping{
  & .dropdown-wrapper{
    margin-left: 0;
    margin-right: 0;
  }

  & .headline .Paragraph {

    @media (min-width: 885px) {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.67px;
      line-height: 16px;

    }
  }

  & .dropdown-wrapper {
    & select{
      background: url(/static/images/dropdown-arrow.svg) no-repeat calc(100% - 10px);
    }

  }

  & .Paragraph{
    text-align: left;

    @media (min-width: 885px) {
      text-align: center;
    }
  }

  & .breakline-shpping{
    @media (max-width: 400px){
      display: none;
    }
  }

  & .ShippingDatePicker {
    flex-direction: column;

    @media (min-width: 885px) {
      flex-direction: row;
    }

    & .Button {
      color: #3D3935;
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
      transition: all .15s;

      &:hover {
        background-color: #e0e0e0;
      }

      &:active {
        background-color: #ccc;
      }

      &.selected {
        background: #fff;
        border: 1px solid black;
      }
    }

    & button {
      @media (min-width: 885px) {
        width: 290px;
        padding: 13px 100px;
        padding-left: 0;
        padding-right: 0;

        &:nth-of-type(1) {
          margin-left: 0;
        }

        &:nth-of-type(2) {
          margin-left: 40px;
        }
      }
    }
  }
}

/** firefox hack **/
@-moz-document url-prefix() {
  .input[disabled]{
    background: #fff;
  }
}

