@import "../../variables";

.StepName {
  display: flex;
  width: 100%;
  flex-direction: column;

  & .terms-and-conditions {
      font-size: 13px;
      position: relative;
      &.error::after {
        position: absolute;
        top: 11px;
        right: -19px;
        width: 18px;
        height: 18px;
        background: url(/static/images/error.svg) no-repeat center;
        content: "";
    }

  }

  & .separator {
    width: 100%;
    height: 1px;
    background-color: var(--soft-grey);
    border: 0;    
  }

  & .item {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    letter-spacing: 0;
    color: #646464;
    margin-top: 10px;

    &.check.checked {

        & .checkbox {
          background: url('/static/images/check-green.svg') no-repeat center;
        }

        & *:not(.checkbox) {
          opacity: 1;
        }

      }
      
     & a {
        margin-left: 3px;
        margin-right: 3px;
      }

      & .checkbox {
        font-size: 16px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: solid 2px var(--green);
        cursor: pointer;
      }

      & a {
        margin-left: 4px;
        margin-right: 4px;
      }

     
  }

  @media (min-width: 885px) {
    align-items: center;
  }

  & .desktop-lg {
    display: none;

    @media (min-width: 885px) {
      display: block;
    }
  }

  & .mobile-sm {
    display: block;

    @media (min-width: 885px) {
      display: none;
    }
  }


  & .GroupField {

    @media (min-width: 885px) {
      width: calc(100% - 160px);
    }

    & .TextField .input.medium {
      width: 100%;
    }    
  }

  & .error-link {
    color: white;
    text-decoration: underline;
  }

  & .space-p {
    & p {
      margin: 0;
    }
  }
}