@import "../../variables";

.RadioButton {
  padding: 10px 20px;
  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  cursor: pointer;
  border: 0;
  color: #3D3935;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  font-size: 14px;
  transition: all .15s;
  margin: 4px;

  &.meals {
    min-width: 125px;
  }

  &.square {
    padding: 15px 20px;
  }

  &:hover {
    background-color: #e0e0e0;
  }

  &:active {
    background-color: #ccc;
  }

  &.selected {
    background: #fff;
    border: 1px solid black;
  }
}

.desktop-lg {

  & .ButtonBar {
    margin: 0;
  }
}
