.creditCardFields {
  border: 2px solid var(--soft-grey);

  margin-bottom: 20px;

  margin-top: 20px;

  & .ccfBody {
    height: 200px;
    padding: 16px;
    background-color: #F2F2F2;

    & .ccfBottomFields {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;

      & div:last-child {
        margin-left: 16px;
      }
    }

    & .item {
      &.check {
        flex-direction: row;
      }
    }

    & div:first-child {
      @media (min-width: 885px) {
        flex-direction: column;
      }
    }

    & .ccInput input {
      background-image: url(/static/images/lock.svg);
      background-repeat: no-repeat;
      background-position: 98%;
    }
  }

    & .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;

    &.check.checked {

      @media (min-width: 885px) {
        flex-direction: row;
      }

      & .checkbox {
        background: url('/static/images/check-green-cc.svg') no-repeat center;
        background-size: cover;
        border: solid 2px #302f31;
      }

    }

    & .checkbox {
      width: 21px;
      height: 21px;
      margin-right: 10px;
      border: solid 2px var(--soft-grey);
      cursor: pointer;
    }

    & .label {
      flex: 1 0;
      font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
      font-weight: 300;
      color: var(--dark-grey);
      font-size: 12px;
    }

  }

  & + .ShippingForm {

    & .GroupField {
      flex-direction: column;
    }
  }

  @media (min-width: 885px) {
    & .GroupField{
      margin-bottom: 20px;
    }

    & .ccfBody{
      height: 170px;
    }
  }
}
