.StepTinyHuman {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin-bottom .3s;

  & .ButtonBar {
    & .Button {
      @media (max-width: 400px) {
        font-size: 8px;
        padding: 12px;
      }
    }
  }

  &.focused {
    margin-bottom: 300px;

    & .DateInput__input {
      opacity: 1;
      border: 1px solid #4298B5 !important;
    }

    @media (min-width: 885px) {
      margin-bottom: 0;
    }
  }



  & .separator {
    width: 100%;
    height: 1px;
    background-color: var(--soft-grey);
    border: 0;
  }

  & .Contain {

    @media (min-width: 885px) {
      display: flex;
      justify-content: space-between;
    }

    & .GroupField{

      @media (min-width: 885px) {
        width: calc(50% - 10px);
      }
    }
  }

  & .add-tiny-human{
    width: 100%;
  }

  & .SingleDatePickerInput {
    border: solid 1px #dadada;

    & .DateInput__input,
    & .DateInput__display-text {
      font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
      font-size: 12px;
      padding-left: 8px;
      color: #A0A0A0;


      &--has-input {
        pointer-events: none;
        position: relative;
        top: 6px;
        padding-top: 5px;
        font-size: 10px;
        color: #000000;

        &:before {
          color: #A0A0A0;
          content: 'DOB';
          display: block;
          position: absolute;
          top: -6px;
          font-size: 8px;
          color: #A0A0A0;
          height: 20px;
          width: 20px;
        }
      }

    }
  }

  & .GroupField {
    &.invalid {
      & .SingleDatePickerInput {
        &::after {
          color: #A0A0A0;
          content: "";
          position: absolute;
          height: 107%;
          width: 4px;
          top: 0;
          left: 0;
          background-color: #F9C4D4;
        }
      }
    }
  }

  & .desktopDateInput{
    display:none;
    @media (min-width: 885px) {
      display:block;
    }
  }
  & .smartphoneDateInput{
    @media (min-width: 885px) {
      display:none;
    }
  }
}

.removeTiny{
  text-align: right;
  margin-top: -14px;
  cursor: pointer;
  @media (min-width: 885px) {
    margin-top: -34px;
  }
}
