@import '../../variables';

.Paragraph {
  margin: 0 auto 20px;
  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-weight: 400;
  font-size: 10px;
  color: #3D3935;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: center;
  font-weight: 300;

  @media (min-width: 885px) {
    max-width: 570px;
    font-size: 12px;
    color: var(--dark-grey);
    line-height: 24px;

  }

  &.small {
    margin: 0 auto 60px;
    text-align: center;
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--light-grey);
    letter-spacing: 0.69px;
  }

}
