@import "../../variables";

.TextField {
  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.69px;
  width: 100%;
  font-weight: 300;

  & + .TextField {
    margin-top: 20px;
  }

  &.valid {
    & .input {
      border-bottom-color: var(--green);
    }

  }

  &.focus .label {
    top: 12px;
    font-size: 10px;
  }

  &.invalid {

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      left: 0;
      width: 4px;
      background-color: #F9C4D4;
    }

    & .input {
      border-bottom-color: #DADADA;
    }

  }

  & .label {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    color: #A0A0A0;
    font-size: 12px;
    transition: all .1s ease-out;

    @media (min-width: 885px) {
      display: flex;
    }

    &.tinyLabel{
      min-width: 120px;
      width: auto;
      margin-right: 0;
      @media (min-width: 885px) {
        width: 115px;
        margin-right: 25px;
      }
    }
  }

  & .input {
    width: 100%;
    height: 40px;
    padding: 10px 8px 0;
    border: solid 1px #dadada;
    font-family: inherit;
    font-size: inherit;
    color: #3D3935;
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    border-radius: 0;
    background: #fff;

    &:focus {
      border-color: rgba(0,0,0,.5);

    }

    &::-webkit-input-placeholder {color: var(--soft-grey)}
    &::-moz-placeholder {color: var(--soft-grey)}
    &:-ms-input-placeholder {color: var(--soft-grey)}
    &:-moz-placeholder {color: var(--soft-grey)}

    &.tiny {

      @media (min-width: 885px) {
        width: 135px;
      }

    }

    &.medium {

      @media (min-width: 885px) {
        width: 100%;
      }

    }
  }
}
