.ShippingForm {
  width: 100%;
  margin: 0 auto 20px;

  & .GroupField{
    margin-bottom: 23px;
  }
  
  & .cols-2{
    flex-direction: row;
    justify-content: space-between;
    & .TextField {
      width: calc(50% - 16px);
      margin-top: 0;
    }
  }

  & .cols-3{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;

    @media (min-width: 885px) {
      margin-bottom: 23px;

      
    }

    & .TextField, & .Dropdown-root  {
      width: calc(33.333% - 16px);
      margin-top: 0;
      flex-grow: unset;
      height: 40px;
    }
  }

  & .cols-2-3{
    flex-direction: row;
    justify-content: space-between;

    & .TextField:nth-of-type(1) {
      width: calc(66.666% - 8px);
      margin-top: 0;
    }

    & .TextField:nth-of-type(2) {
      width: calc(33.33% - 16px);
      margin-top: 0;
    }
  }

  
  /* @media (min-width: 885px) {
    max-width: 460px;
  } */
}
