@import "../../variables";

.Button {
  width: 100%;
  min-width: 100px;
  padding: 12px 20px;
  font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  background: #302f31;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 2px;
  transition: all .15s;
  font-weight: 700;
  border: 1px solid rgba(0,0,0,0);

  @media (min-width: 885px) {
    width: auto;
    min-width: 170px;
  }

  & + .Button {
    margin-left: 40px;
  }

  &.borderless {
    border-color: transparent;

    @media (min-width: 885px) {
      display: block;
    }

  }

  &.small{
    font-size: 14px;
    padding: 8px 5px;
    min-width: 115px;
    margin-top: 65px;
    @media (min-width: 885px) {
      width: auto;
      margin-top: 0;
    }
  }
  &.vertical{
    margin-top: 10px;
    margin-left: 0;
    @media (min-width: 885px) {
      margin-top: 0;
      margin-left: 40px;
    }
  }

  &:hover {
    background-color: #141414;
  }

  &.selected {
    &.black{
      border: 1px solid black;
      background: white !important;
    }
  }

  &.active {
    background-color: #000;
  }

  &.isDisabled {
    background: #dadada;
    color: #fff;
  }

}

.desktop-lg {

  & .ButtonBar {
    margin: 0;
  }
}
