.ProgressBar {

  display: flex;

  margin-bottom: 23px;

  @media (max-width: 768px) {
    margin-left: -20px;
    margin-right: -20px;
  }

  & .step {
    flex: 1;

    font-size: 10px;
    font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10px;

    letter-spacing: 0.5px;
    line-height: 20px;
    height: 2px;
    text-align: center;
    position: relative;
    letter-spacing: 0.5px;

    @media (max-width: 768px) {
      background-color: #F2F2F2;
    }

    @media (min-width: 768px) {
      height: 20px;
      border: 1px solid #F2F2F2;
    }

    @media (min-width: 885px) {
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #dadada;
    }

    &.clickeable.active,
    &.clickeable {
      color: #302f31;
      font-weight: bold;
    }

    &.clickeable.active:hover,
    &.clickeable:hover {
      color: #38839D;
    }

    &.clickeable {
      cursor: pointer;
    }

    &.active:nth-of-type(1){
      border-left: transparent;
    }
    &.active{
      background: #F2F2F2;
      color: #000000;
      @media (min-width: 885px) {
        background: #dadada;
      }

      @media (min-width: 768px) {
        border-left: 1px solid #fff;
      }

      @media (max-width: 768px) {
        background-color: #71cc98;
      }
    }


  }

  & .step-number-1 {
    @media ( max-width: 320px ) {
      max-width: 50px;
    }

    @media ( max-width: 480px ) and ( min-width: 321px ) {
      max-width: 60px;
    }
  }

  & .step-number-3, & .step-number-4  {
    @media ( max-width: 320px ) {
      max-width: 60px;
    }

    @media ( max-width: 480px ) and ( min-width: 321px ) {
      max-width: 75px;
    }
  }

  @media (min-width: 885px) {
    position: relative;
    top: -60px;
    left: -20px;
    width: 800px;
  }

  & .stepName {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
