@import "../../variables";

.stepReferral {


  & .Title{
    text-align: center;
    margin-bottom: 24px;
  }
  &TitleWrapper {
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid var(--soft-grey);
  }

  & .offer p {
    font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
    font-weight: 700;

    @media (min-width: 885px) {
      font-size: 16px;
      font-weight: 600;
      max-width: 170px;
      margin: 0 auto 10px;
    }
  }

  & .discount p {

    & b {
      color: #71CC98;
    }

    @media (min-width: 885px) {
      max-width: 290px;
      margin: 0 auto;
    }
  }

  & .ButtonBar{
    flex-direction: column;
    margin-bottom: 10px;

    @media (min-width: 885px) {
      max-width: 290px;
    }

    & .with-icon{
      background-position: 10px 10px;
    }

    & .facebook {
      background: url(/static/images/facebook.svg) no-repeat 34px #3B5998;
      color: white;
    }

    & .instagram {
      background: url(/static/images/instagram.svg) no-repeat 34px #ec4a64;
      color: white;
    }

    & .Button + .Button{
      margin-left: 0;
    }

    & .Button {
      margin-left: 0;
      margin-bottom: 16px;
      padding: 0;

      & a {
        padding: 12px 24px;
        display: block;
        color: white;
      }
    }

    & .or-line {
      font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
      font-size: 10px;
      font-weight: 700;
      color: #000000;
      letter-spacing: 1px;
      line-height: 16px;
      text-align: center;
      position: relative;
      margin-bottom: 15px;

      & span{
        background: white;
        position: relative;
        z-index: 1;
      }


      &:after{
        content: '';
        display: block;
        border: 1px solid #F2F2F2;
        top: 7px;
        width: 100%;
        position: absolute;
      }
    }
  }

  & .stepReferralTitleWrapper {
    border-bottom: 0;
    margin-bottom: 15px !important;
    & .line-mid {
      border-bottom: 1px solid #E6E6E6;
      max-width: 160px;
      margin: auto;
      @media (min-width: 885px) {
        max-width: 440px;
      }
    }
  }

  & .ticker{
    margin-bottom: 10px;
  }

  & .linkBox{
    border: 1px solid #DADADA;
    font-size: 9px;
    color: #000000;
    letter-spacing: 0;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
  }

  & .clipboardButton{
    background: #D9EA9A;
    font-family: 'Gotham', Arial, "Helvetica Neue", Helvetica, sans-serif;;
    font-weight: 300;
    font-size: 9px;
    color: #000000;
    letter-spacing: 1.5px;
    height: 34px;
    line-height: 34px;

  }

  & .share-title{
    font-family: AvenirNext-Bold;
    font-size: 10px;
    color: #000000;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
  }
  &ButtonBar {

    @media (max-width: 884px) {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
  .Button {
    @media (max-width: 884px) {
      margin-left: 0 !important;
      margin-bottom: 20px;
    }
  }

  & .comments-container p:first-child {
    font-size: 16px;
    color: #3D3935;
    max-width: initial;
  }

  & .comments-container p:last-child {
    margin-bottom: 48px;
  }

  & .secondary-title {
    color: #3D3935;
    font-size: 16px;
    margin-top: 48px;
    text-align: center;
    margin-bottom: 8px;
  }
}


.desktop-lg {
  display: none;

  @media (min-width: 885px) {
    display: block;

    & .Button {
      width: 100%;
    }
  }
}

.mobile-sm {
  display: block;

  @media (min-width: 885px) {
    display: none;
  }
}

.StepSocialContainer {
  & .input {
    line-height: 53px;
    height: 53px !important;
    margin-right: 20px;
  }
}

.StepSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &Container {
    width: 100%;
  }
}

.paragraphHighlight {
  color: var(--green);
}

.emailWrapper {
  display: flex;
  margin-bottom: 10px;
}

.tip {
  color: var(--light-grey);
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  display: block;
}

.separator {
  &Wrapper {
    text-align: center;
    margin: 30px 0;
  }
  &Text {
    font-size: 14px;
    color: var(--light-grey);
    line-height: 25px;
    position: relative;
    display: block;
    &:before, &:after {
      content: '';
      background-color: var(--light-grey);
      height: 1px;
      position: absolute;
      top: calc(50% - 1px / 2);
    }
    &:before {
      left: 0;
      right: 55%;
      @media( min-width: 855px ) {
        left: 70px;
      }
    }
    &:after {
      right: 0;
      left: 55%;
      @media( min-width: 855px ) {
        right: 70px;
      }
    }
  }
}
