@import "../../variables";

.StepBilling {
  max-width: 540px;
  margin: 0 auto;

  @media (min-width: 885px) {
    max-width: 706px;

    & .TextField .input.tiny{
      width: 100%;
    }

    & .TextField + .TextField{
      margin-top: 10px;
    }

  }

  & .TextField {
    flex-grow: 0;

    &:first-child {
      flex-grow: 1;
    }
  }

  & .Button {
    &:hover{
      background: #000;
    }
    background: var(--black-rr);
    color: #ffffff;
    &.isDisabled{
      &:hover{
        color: #ffffff;
      }
      background: #dadada;
    }
  }

  & .Alert {
    margin-bottom: 0;
  }

  & .Title {
    margin-top: 20px;
  }

}

@-moz-document url-prefix() {
  .StepBilling .TextField .input{
    height: 40px;
  }
}

