.StepEating {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .line {
    display: flex;
    margin: 150px 100px 20px;


    & .item{
      display: flex;
      justify-content: center;
      flex: 1 0;
      position: relative;
      padding-top: 50px;
      text-align: center;
      cursor: pointer;
      user-select: none;

      &:nth-child(3){
        & .label{
          &::before{
            background: url('/static/images/eating-finger-foods.png') no-repeat center;
            background-size: contain;
          }
        }
      }

      &:nth-child(1){
        & .label{
          &::before{
            background: url('/static/images/eating-milk-only.png') no-repeat center;
            background-size: contain;
          }
        }
      }

      &:nth-child(2){
        & .label{
          &::before{
            background: url('/static/images/eating-puree.png') no-repeat center;
            background-size: contain;
          }
        }
      }
      
      &::after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: #ccc;
        content: "";
      }
        
      &::before{
        position: absolute;
        top: -7px;
        left: 0;
        right: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: solid 2px #ccc;
        background-color: white;
        box-sizing: border-box;
        content: "";
        z-index: 1;
      }
      
      & .label{

        font-family: 'SofiaProRegular';
        color: #D6D6D6;
        font-size: 16px;
        width: 100px;

        @media (min-width: 855px) {
          width: 120px;
        }

        &::before{
          content: '';
          width: 74px;
          height: 74px;
          position: absolute;
          top: -120px;
          left: 0;
          right: 0;
          margin: auto;
          color: var(--green);
        }
      }
      
      &:first-child::after{
        background-image: linear-gradient(to right, white, white 49%, #ccc 50%, #ccc 100%);
      }
      
      &:last-child::after{
        background-image: linear-gradient(to left, white, white 49%, #ccc 50%, #ccc 100%);
      }
      
      &.selected{
        
        & .label{
          color: var(--green);
        }
        
        &::before{
          border-color: var(--green);
          background-color: var(--green);
        }
      }
  
    }

  }

}
