@import "../../variables";

.TinyHumans {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 9;
  background: white;
  border-bottom: solid 2px var(--green);
  box-shadow: 0px 0px 20px -4px var(--grey), 0 0 0 1000px color(white alpha(60%));
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  @media (min-width: 885px) {
    top: -100px;
    left: auto;
    z-index: 11;
    box-shadow: 0 0 20px -4px #c2c2c2;
    right: -40px;
    box-shadow: 0px 0px 20px -4px var(--grey);
  }

  @media (min-width: 1225px) {
    opacity: 1;
    pointer-events: all;
    top: 0;
    left: -200px;
    right: auto;
    width: 175px;
    border: 0;
  }

  & .title {
    text-align: center;
    font-family: var(--font-main-m);
    font-size: 20px;
    color: var(--dark-grey);
    letter-spacing: 0.35px;

    @media (min-width: 885px) {
      margin: 0;
      text-align: left;
      font-family: var(--font-main);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 18px;
    }

  }

}
