@import "../../variables";

.TinyHumansDeleteModal {
  position: absolute;
  top: -54px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 74px;
  background-color: white;
  border-bottom: solid 2px var(--green);
  box-shadow: 0px 0px 20px -4px var(--grey);

  @media (min-width: 885px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    max-width: 470px;
    max-height: 260px;
    border: 0;
    box-shadow: 0 0 0 1000px color(black alpha(5%));
  }

  &.visible {
    display: flex;
  }

  & .top {
    width: 100%;
    position: relative;
    top: -50px;
    
    & .close {
      position: absolute;
      top: 0;
      right: -37px;
      display: none;
      width: 34px;
      height: 34px;
      padding: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
      background: white;
      border-radius: 100%;

      @media (min-width: 885px) {
        display: block;
      }

    }

  }

  & .title {
    text-align: center;
    font-family: var(--font-main-m);
    font-size: 20px;
    color: var(--dark-grey);
    letter-spacing: 0.35px;

    @media (min-width: 885px) {
      display: none;
    }
  
  }

  & .name {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    font-family: var(--font-main-b);
    font-weight: 700;
    font-size: 18px;
    color: var(--green);
    letter-spacing: 0.28px;

    @media (min-width: 885px) {
      display: none;
    }

    &::after {
      position: absolute;
      top: 4px;
      bottom: 0;
      left: -2px;
      right: -2px;
      height: 2px;
      margin: auto 0;
      background-color: var(--green);
      content: "";
    }

  }

  & .text {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
    font-family: var(--font-main);
    font-size: 14px;
    color: var(--dark-grey);
    letter-spacing: 0.27px;
    line-height: 18px;

    @media (min-width: 885px) {
      font-family: var(--font-main-m);
      font-size: 24px;
      color: var(--dark-grey);
      letter-spacing: 0.38px;
      line-height: 29px;
    }
  
  }

  & .ButtonBar {
    max-width: 360px;

    & .Button {
      min-width: 120px;
      flex-basis: 120px;

      @media (max-width: 885px) {
        border-color: transparent !important;
      }

    }

  }

}
