@import "../../variables";

.ErrorMessage {
  width: 100%;
  max-width: 500px;
  margin: 15px auto 0;
  padding: 0 20px;
  font-size: 16px;
  font-family: var(--font-main-l);
  color: var(--red);
  text-align: center;
  line-height: 21px;
}
