@import '../../variables';

.Header {
  @media (min-width: 885px){
    background: #f2f2f2;
  }

  & .wrapper {
    display: flex;
    width: 100%;
    position: relative;
  }

  & .button-prev {
    border: none;
    background: none;
    padding: 0;
    font-size: 0;
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;

    @media (min-width: 768px){
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 1rem;
      width: 1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-top: 2px solid;
      border-left: 2px solid;
    }
  }

  & .logo {
    display: flex;
    flex-grow: 1;
    padding: 24px 16px 20px;
    
    @media (max-width: 768px) {
      justify-content: center;
    }
    
    @media (min-width: 885px) {
      justify-content: center;
      padding: 30px 16px 30px;
      }

    }
  }

